.conventional-comment-button {
    margin: 0 !important;
}

.conventional-comment-button svg {
  vertical-align: text-bottom;
}

.conventional-comment-blocking {
  color: #ae0000 !important;
}

.conventional-comment-blocking:hover {
  color: #ff0000 !important;
}

.conventional-comment-wrapper {
  width: fit-content;
  display: flex;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
}